extends /layouts/_pages

block vars
  -
    product = products[0];

    page = {
      title: product.name,
      breadcrumbs: {
        'Catalog': 'catalog.html',
        'Laptops & Tablets': 'category.html',
        'Laptops': 'subcategory.html'
      }
    }

block pages
  div.uk-grid-medium.uk-child-width-1-1(uk-grid)

    //- Product
    div
      div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
        div.uk-grid-small.uk-grid-collapse.uk-grid-match(uk-grid)

          //- Media
          div(class="uk-width-1-1 uk-width-expand@m")
            div.uk-grid-collapse.uk-child-width-1-1(
              uk-slideshow="finite: true; ratio: 4:3;"
              uk-grid)

              //- Primary image
              div
                ul.uk-slideshow-items(uk-lightbox)
                  li
                    if product.image
                      a.uk-card-body.tm-media-box.tm-media-box-zoom(href= product.image.large)
                        figure.tm-media-box-wrap
                          img(src= product.image.large alt= product.name)
                    else
                      figure.tm-media-box-wrap
                        +icon("image", "5")(class="uk-text-muted")
                  if product.additionalImages
                    each additionalImage in product.additionalImages
                      li
                        a.uk-card-body.tm-media-box.tm-media-box-zoom(href= additionalImage.large)
                          figure.tm-media-box-wrap
                            img(src= additionalImage.large alt= product.name)

              //- Additional images
              if product.additionalImages
                div
                  div.uk-card-body.uk-flex.uk-flex-center
                    div(class="uk-width-1-2 uk-visible@s")
                      div(uk-slider="finite: true")
                        div.uk-position-relative
                          div.uk-slider-container
                            ul.tm-slider-items.uk-slider-items.uk-child-width-1-4.uk-grid.uk-grid-small
                              li(uk-slideshow-item="0")
                                div.tm-ratio.tm-ratio-1-1
                                  a.tm-media-box.tm-media-box-frame
                                    figure.tm-media-box-wrap
                                      img(src= product.image.small alt= product.name)

                              each additionalImage, index in product.additionalImages
                                li(uk-slideshow-item= index + 1)
                                  div.tm-ratio.tm-ratio-1-1
                                    a.tm-media-box.tm-media-box-frame(href="#")
                                      figure.tm-media-box-wrap
                                        img(src= additionalImage.small alt= product.name)

                            div
                              a.uk-position-center-left-out.uk-position-small(
                                href="#"
                                uk-slider-item="previous"
                                uk-slidenav-previous)
                              a.uk-position-center-right-out.uk-position-small(
                                href="#"
                                uk-slider-item="next"
                                uk-slidenav-next)

                    ul(class="uk-slideshow-nav uk-dotnav uk-hidden@s")

          //- Info
          div(class="uk-width-1-1 uk-width-1-3@m tm-product-info")
            div.uk-card-body

              //- Shop
              div.uk-margin
                div.uk-padding-small.uk-background-primary-lighten.uk-border-rounded
                  div.uk-grid-small.uk-child-width-1-1(uk-grid)

                    //- Prices
                    div
                      if product.isNotAvailable
                        div.uk-text-muted Product not available
                      else
                        if product.oldPrice
                          del.uk-text-meta= product.oldPrice
                          div.tm-product-price= product.price

                    //- Add to cart
                    if !product.isNotAvailable
                      div
                        div.uk-grid-small(uk-grid)

                          //- Quantity
                          div
                            +quantity(product.id)

                          //- Add to cart button
                          div
                            button(class="uk-button " +
                                         "uk-button-primary " +
                                         "tm-product-add-button " +
                                         "tm-shine " +
                                         "js-add-to-cart") add to cart

              //- Properties
              div.uk-margin
                if product.properties
                  ul.uk-list.uk-text-small.uk-margin-remove
                    for value, property in product.properties
                      li
                        span.uk-text-muted= property + ": "
                        span!= value


          //- Description
          div#description.uk-width-1-1.tm-product-description

            header
              nav.tm-product-nav(
                uk-sticky="offset: 60; " +
                          "bottom: #description; " +
                          "cls-active: tm-product-nav-fixed;")
                ul.uk-subnav.uk-subnav-pill.js-product-switcher(
                  uk-switcher="connect: .js-tabs")
                  li: a.js-scroll-to-description(href="#description") Overview
                  li: a.js-scroll-to-description(href="#description") Specifications

            div.uk-card-body
              div.uk-switcher.js-product-switcher.js-tabs

                //- Overview
                section
                  article.uk-article
                    div.uk-article-body
                      include /partials/_article

                //- Specifications
                section
                  each group in product.specifications
                    h2= group.name
                    table.uk-table.uk-table-divider.uk-table-justify.uk-table-responsive
                      each value, property in group.properties
                        tr
                          th.uk-width-medium= property
                          td.uk-table-expand!= value

    // Related items
    section
      div(uk-slider="finite: true")

        div.uk-grid-small.uk-flex-middle.uk-margin-bottom(uk-grid)
          h2.uk-width-expand(class="uk-text-center uk-text-left@s") Related Products
          div(class="uk-visible@s")
            a.tm-slidenav(href="#" uk-slider-item="previous" uk-slidenav-previous)
            a.tm-slidenav(href="#" uk-slider-item="next" uk-slidenav-next)

        div
          div.uk-card.uk-card-default.uk-card-small.tm-ignore-container
            div.uk-position-relative
              div.uk-slider-container
                div(class="uk-slider-items " +
                          "uk-grid-collapse " +
                          "uk-child-width-1-3 " +
                          "uk-child-width-1-4@m " +
                          "tm-products-grid")
                  each product in products
                    +product(product)

          ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin-top(class="uk-hidden@s")

  //- Modals
  div#review(uk-modal)
    div.uk-modal-dialog.uk-modal-body
      button.uk-modal-close-outside(type="button" uk-close)
      h2.uk-modal-title.uk-text-center Review
      form.uk-form-stacked
        div.uk-grid-small.uk-child-width-1-1(uk-grid)

          div
            label
              div.uk-form-label.uk-form-label-required Name
              input.uk-input(type="text" required)

          div
            label
              div.uk-form-label.uk-form-label-required Email
              input.uk-input(type="email" required)

          div
            div.uk-form-label Rating
            ul.uk-iconnav.tm-rating
              li: a(uk-icon="star")
              li: a(uk-icon="star")
              li: a(uk-icon="star")
              li: a(uk-icon="star")
              li: a(uk-icon="star")

          div
            label
              div.uk-form-label.uk-form-label-required Review
              textarea.uk-textarea(rows="5" required)

          div.uk-text-center
            button.uk-button.uk-button-primary Send
